<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Гистограмма</title>
    <script src="https://www.google.com/jsapi"></script>
</head>
<body>
<div id="tickets" style="width: 1500px; height: 800px;"></div>

<script>
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['День недели', 'Билеты'],
            ['Понедельник',100],
            ['Вторник', 100],
            ['Среда', 12170],
            ['Четверг', 2323],
            ['Пятница', 2000],
            ['Суббота', 2000],
            ['Воскресенье', 2000]
        ]);
        var options = {
            title: 'Билеты',
            hAxis: {title: 'Дни недели'},
            vAxis: {title: 'Количество улетающих'}
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('tickets'));
        chart.draw(data, options);
    }
</script>
</body>
</html>